.borderText {
    color: rgba(0, 0, 0, .1);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

@media screen and (max-width:768px) {
    .borderText {
        color: white;
        -webkit-text-stroke-width: 0px;
        -webkit-text-stroke-color: transparent;
        text-shadow: 5px 5px 5px black;
    }    
}