.phoneInput {
    --PhoneInputCountryFlag-height: 30px;
    --PhoneInputCountryFlag-borderColor: white;
    --PhoneInputCountrySelectArrow-color: white;
    --PhoneInputCountrySelectArrow-opacity:white;
}

.phoneInput input {
    display: block; 
    padding: 0.5rem; 
    background-color: transparent; 
    color: white; 
    font-size: 1.125rem;
    line-height: 1.75rem; 
    width: 100%; 
    border-radius: 0.5rem; 
    border-width: 1px; 
    border-color: #6B7280; 
    outline: 0; 
}

.phoneInput input::placeholder {
    color: rgb(209 213 219)
}
